<div id="notDevouredDiv">
	<h2>I Wanna Eat These</h2>
	<ul>
		{{#each notDevoured}}
		<li class="menuItem">
			{{this.burger_name}}
			<button class="devourButton">Devour it!</button>
		</li>
		{{/each}}
	</ul>
</div>

<div id="devouredDiv">
	<h2>I Ate These</h2>
	<ul>
		{{#each devoured}}
		<li class="menuItem">
			{{this.burger_name}}
		</li>
		{{/each}}
	</ul>
</div>

<div id="newBurgerDiv">
	<form id="newBurgerForm">
		<input type="text" id="newBurgerTextInput">
		<input type="submit" name="submitNewBurgerButton" id="submitNewBurgerButton">
	</form>	
</div>  